@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&family=Poppins:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13,12,12;
  --background-end-rgb: 13,12,12;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 13, 12, 12;
    --background-end-rgb: 13, 12, 12;
  }
}

body {
  font-family: 'Oleo Script Swash Caps', cursive !important;
  font-family: 'Poppins', sans-serif !important;
  color: rgb(255,255,255);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
